body{
    margin: 0;
    padding: 0;
    background: #005271;
    color: #fff;
    font-family: Ubuntu, Arial, sans-serif;
}
.index-logo{
    position: fixed;
    top: 30%;
    left: 0;
    width: 100%;
    text-align: center;
}
.index-logo img{
    height: 150px;
}
.privacy{
    padding: 25px;
}
a{
    color: rgb(164, 200, 251);
}
.privacy-logo img{
    height: 100px;
}