{% load i18n %}
{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% trans 'ScanReader OCR' %}</title>
    </head>
    <body style="{{ css.body }}">
        <div style="{{ css.wrap }}">
            <div style="{{ css.header }}">
                {% block header %}
                    <img style="{{ css.logo }}" src="{{ site_url }}{% static 'images/logo_white.png' %}" alt=""/>
                {% endblock %}
            </div>
            {% block content %}
                <div style="{{ css.content }}">
                     {% block wrap_message %}
                        <div style="{{ css.message }}">
                            {% block message %}{% endblock %}
                        </div>
                    {% endblock %}
                </div>
            {% endblock %}
            {% block wrap_action %}
                <div style="{{ css.action }}">
                    {% block action %}{% endblock %}
                </div>
            {% endblock %}
            <div style="{{ css.footer }}">
                {% block footer %}&copy; {% now "Y" %}{% endblock %}
            </div>
        </div>
    </body>
</html>
