{% load i18n %}
{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% trans 'ScanReader OCR' %}</title>
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" type="text/css" />
    </head>
    <body>
        {% block content %}
        
        {% endblock %}
    </body>
</html>
