{% extends 'site/base.html' %}

{% load i18n %}
{% load static %}

{% block content %}
    <div class="index-logo">
        <img src="{% static 'images/logo_white.png' %}" alt="" />
        <div>{% trans 'Coming soon' %}</div>
    </div>
{% endblock %}
