{% extends 'emails/common/base_for_admin.html' %}

{% load i18n %}

{% block message %}

    <h3>{% trans 'New feedback' %}:</h3>
    <p>{% trans 'E-mail' %}: {{ email }}</p>
    <p>{% trans 'Message' %}: {{ message }}</p>

{% endblock %}
